/.idea/
/nbproject/
.vscode

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

pids
logs
results
node_modules
temp

npm-debug.log

demo/jplayer*.*
demo/models/
demo/themes/
themes/jplayer/*.min.css